body{background-color: rgb(75, 146, 154);}

form{
    transform: translate(500px, 300px);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    gap: 20px;
}

h2{
    margin-bottom: 10px;
}