*{
    margin: 0;
    padding: 0;
}

.main-div{
    position: absolute;
    margin: auto;
    background-color: #313131;
    color: white;
    
}

h1{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

input{
    background-color: darkgrey;
    color: white;
    border: 3px solid grey;
}

input[type="submit"]{
    height: 46px;
    width: 80px;
    font-size: 18px;
    
    
}
input[type="text"]{
    position: relative;
    margin-left: 50px;
    height: 40px;
    width: 195px;
    padding-left: 5px;
    font-size: 18px;
}

input[type="text"]:focus{
    outline: none;
}

.about-mafia{
    text-align: center;
}

h3{
    margin-top: 100px;
}
p{
    margin: auto;
    width: 200px;
    height: 293px;
    /* overflow: hidden; */
}